<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> RageDB - Chemicals Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RageDB Demonstration">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="/assets/css/gridjs/mermaid.css" rel="stylesheet" media="all" />
    <link href="/assets/css/bulma.css" rel="stylesheet" media="all" />
    <link href="/assets/css/main.css" rel="stylesheet" media="all" />
</head>